# Log files
*.log

# Java Build artifacts (Maven/Gradle)
/target/
/build/
*.jar
*.war
*.ear

# Node dependencies
/frontend/node_modules/
npm-debug.log
yarn-error.log

# IDE and OS files
.idea/
*.iml
*.iws
.DS_Store
Thumbs.dbnode_modules/
node_modules/
frontend/node_modules/
.cache/
*.pack
